name: brew test-bot

permissions:
  contents: write
on:
  workflow_dispatch:

jobs:
  test-bot:
    strategy:
      matrix:
        # One runner for Darwin 24 (Sequoia), one for Darwin 26 (Tahoe)
        os: [macos-15, macos-26]
    runs-on: ${{ matrix.os }}
    outputs:
      next_tag: ${{ steps.build.outputs.next_tag }}
    steps:
      - name: test-bot Checkout your tap
        uses: actions/checkout@v4
        with:
          token: ${{ github.token }}

      - name: test-bot Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: test-bot Fetch and Patch
        run: |
          mkdir -p Formula
          curl -L https://github.com/Homebrew/homebrew-core/raw/refs/heads/main/Formula/e/emacs.rb -o Formula/emacs.rb
          patch Formula/emacs.rb native.patch

      - name: test-bot Build Bottle
        id: build
        run: |
          latest_tag=$(git tag --list 'v*' | sort -V | tail -n1)
          if [[ -z "$latest_tag" ]]; then next_tag="v1"; else
            next_num=$(( ${latest_tag#v} + 1 )); next_tag="v$next_num";
          fi
          echo "next_tag=$next_tag" >> "$GITHUB_OUTPUT"

          # This merge combines Sequoia and Tahoe hashes into the same file
          root_url="$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/releases/download/$next_tag/"
          brew install --build-bottle z-aki/tap/emacs
          brew bottle --root-url "$root_url" --json z-aki/tap/emacs

          new_bottle_name=$(jq -r '.[].bottle.tags | to_entries[0].value.filename' ./*.bottle.json)
          mv ./*.bottle*.tar.gz "$new_bottle_name"

      - name: test-bot Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bottles-${{ matrix.os }}
          path: |
            *.bottle.json
            *.bottle*.tar.gz
            Formula/emacs.rb

  publish:
    needs: test-bot
    runs-on: macos-15
    steps:
      - name: Checkout your tap
        uses: actions/checkout@v4
        with:
          repository: z-aki/homebrew-tap
          token: ${{ github.token }}
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Download all bottles
        uses: actions/download-artifact@v4
        with:
          pattern: bottles-*
          merge-multiple: true

      - name: Merge Bottles and Push
        run: |
          set -x;
          git config set user.name "z-aki"
          git config set user.email "39851968+z-aki@users.noreply.github.com"
          
          brew bottle -d -v --merge --write ./emacs*.json || true

          git remote set-url "origin" https://z-aki:${{ github.token }}@github.com/z-aki/homebrew-tap
          git pull origin main --tags
          git tag "${{ needs.test-bot.outputs.next_tag }}"
          git push origin main --tags

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ needs.test-bot.outputs.next_tag }}
          name: ${{ needs.test-bot.outputs.next_tag }}
          body: "Release ${{ needs.test-bot.outputs.next_tag }}"
          files: |
            *.bottle*.tar.gz
            *.bottle.json